<p>layer-form works!</p>
<form [formGroup]="form" (ngSubmit)="saveLayer(form)">
    <mat-form-field appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput maxlength="15" inputmode="tel" placeholder="Type name" formControlName="name" #nameInput>
        <mat-hint>Mini character 5: {{ nameInput.value.length }}/5</mat-hint>
        <mat-error>Name is required</mat-error>
        <mat-error **ngIf="(form.get('name')).errors?.minlength">
            Please enter more than 5 character
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" hintLabel="">
        <mat-label>Layer Type</mat-label>
        <mat-select matNativeControl name="type" formControlName="type">
            <mat-option value="base">Base</mat-option>
            <mat-option value="secondary">Secondary</mat-option>

        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" hintLabel="">
        <mat-label>WMS URL</mat-label>
        <input matInput   placeholder="http://" formControlName="uri" #nameInput>
        <mat-error>URL is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" hintLabel="">
        <mat-label>Layer from WMS</mat-label>
        <mat-select matNativeControl name="country" formControlName="country">
            <mat-option *ngFor="let layername of wms_layer_options" [ngValue]="layername">{{layername}}</mat-option>

        </mat-select>
    </mat-form-field>


    <div mat-dialog-actions align="end">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
    </div>
</form>
<div mat-dialog-actions >
    <button mat-raised-button type="button" color="primary" (click)="getWmsLayerOptions();" >Get Layers</button>
</div>