<!-- Toolbar -->
<mat-toolbar  color="primary" class="app-header">
  <div><a href="https://www.nodehealth.com" target="_blank" class="nodehealth">Node Health</a></div>
  <span class="nav-tool-items">
    <span *ngIf="loggedin(); else trylogin">
      {{getUser()}}
    </span>
    <ng-template #trylogin>
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </ng-template>
  </span>
</mat-toolbar>
<mat-sidenav-container  *ngIf="loggedin();else notlogin" >
  <mat-sidenav mode="side" #sidenav  opened="true">
    nodehealth
    <mat-list>
      <button mat-flat-button>Layer Config</button>
    </mat-list>
    

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      Main content goes here
    </div>
    <router-outlet></router-outlet>
      <p><button color="accent" mat-raised-button (click)="sidenav.toggle()">>></button></p>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #notlogin>
  <router-outlet></router-outlet>
</ng-template>

