<!-- 
    <div class="layer-entry" ><app-layer-form [layerData]="currLayer"></app-layer-form></div> -->
    <button (click)="newLayer()" mat-flat-button>New Layer</button>
    <div class="layer-list">
<table mat-table [dataSource]="layerList">
    <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef> Enabled </th>
        <td mat-cell *matCellDef="let layer"> {{layer.enabled}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let layer"> <a mat-button style="text-decoration: underline;color:deepskyblue;" (click)="loadData(layer.id)">{{layer.name}}</a> </td>
    </ng-container>
    <ng-container matColumnDef="layer_type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let layer"> {{layer.layer_type}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
